.flash
  padding 1em
  margin 2em 0
  border solid 1px #ccc
  border-width 1px 1px 1px 10px
  font-weight bold

.flash.flash-success
  background #efe
  border-color #ada

.flash.flash-error
  background #fee
  border-color #daa

.flash.flash-warning
  background #ffe
  border-color #dda

.flash.flash-info
  background #eef5fa
  border-color #cdf

